<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="person" class="cn.yuanyu.bean.Person">
        <property name="name" value="蔡徐坤"/>
        <property name="age" value="18"/>
    </bean>
</beans>
<!--beans.xml-->