<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>日志查询</title>
    <style>

    </style>
</head>
<body>
<link rel="stylesheet" href="https://www.layuicdn.com/layui-v2.5.6/css/layui.css">
<script src="https://www.layuicdn.com/layui-v2.5.6/layui.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.js"></script>

<form class="layui-form log-from" action="">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">操作用户</label>
            <div class="layui-input-inline">
                <input type="text" name="operateUser" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">操作方法</label>
            <div class="layui-input-inline">
                <input type="text" name="operateMethod" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">返回值类型</label>
            <div class="layui-input-inline">
                <input type="text" name="returnClass" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">方法耗时 ms</label>
            <div class="layui-input-inline">
                <input type="text" name="costTime" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="logFormLayFilter">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </div>
</form>
<table id="log" lay-filter="test"></table>

<script type="text/javascript" th:inline="none">
    // https://blog.csdn.net/qq_39906884/article/details/85269374

    let tbl;
    let searchEntity = {
        operateUser: '',
        operateMethod: '',
        returnClass: '',
        costTime: ''
    };

    layui.use('table', function () {
        const table = layui.table;
        const form = layui.form;
        tbl = table.render({
            elem: '#log',
            url: '/operationLog/findByPage/',
            request: {
                pageName: 'pageNum',
                limitName: 'rows'
            },
            // response: {
            //     countName: 'total',
            //     dataName: 'dataList'
            // },
            parseData: function (res) {
                return {
                    "code": 0,
                    "msg": 'sucess',
                    "count": res.total,
                    "data": res.dataList
                };
            },
            where: {
                'operateUser': searchEntity.operateUser,
                'operateMethod': searchEntity.operateMethod,
                'returnClass': searchEntity.returnClass,
                'costTime': searchEntity.costTime
            },
            // method: 'post',
            // contentType: 'application/json',
            page: true,
            cols: [[
                {field: 'id', title: 'ID', width: 80, sort: true, fixed: 'left'}
                , {field: 'operateClass', title: '操作类'}
                , {field: 'operateMethod', title: '操作方法'}
                , {field: 'returnClass', title: '返回值类型'}
                , {field: 'operateUser', title: '操作用户'}
                , {field: 'paramAndValue', title: '参请求参数名及参数值'}
                , {field: 'costTime', title: '执行方法耗时（单位 ms）'}
                , {field: 'returnValue', title: '返回值'}
                , {field: 'createTime', title: '创建时间'}
            ]]
        });
        // 监听提交
        form.on('submit(logFormLayFilter)', function (data) {
            searchEntity = {
                operateUser: data.field.operateUser,
                operateMethod: data.field.operateMethod,
                returnClass: data.field.returnClass,
                costTime: data.field.costTime
            };
            console.log(searchEntity)
            tbl.reload({
                where: {
                    'operateUser': searchEntity.operateUser,
                    'operateMethod': searchEntity.operateMethod,
                    'returnClass': searchEntity.returnClass,
                    'costTime': searchEntity.costTime
                },
                page: {
                    curr: 1
                }
            });
            return false;
        });
    });

</script>

</body>
</html>