<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yuanyu.uaa.mapper.AuthClientUserMapper">

    <resultMap id="BaseResultMap" type="cn.yuanyu.uaa.model.AuthClientUser">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="auth_client_id" jdbcType="INTEGER" property="authClientId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="auth_scope_id" jdbcType="INTEGER" property="authScopeId"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, auth_client_id, user_id, auth_scope_id
    </sql>

    <select id="selectByClientId" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from auth_client_user
        where auth_client_id = #{clientId}
        AND auth_scope_id = #{scopeId}
        AND user_id = #{userId}
    </select>
</mapper>