<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yuanyu.mybatis.mapper.EmployeeMapper">

    <resultMap type="cn.yuanyu.mybatis.entity.Employee" id="employeeResultMap">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="email" property="email"/>
        <result column="gender" property="gender"/>
        <!--
            fetchType="lazy"
         -->
        <association property="dept"
                     select="cn.yuanyu.mybatis.mapper.DepartmentMapper.getDeptById"
                     column="d_id"
                     fetchType="lazy">
        </association>
    </resultMap>
    <select id="selectEmployeeById" resultMap="employeeResultMap">
        select *
        from t_employee
        where id = #{id}
    </select>

</mapper>