<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yuanyu.uaa.mapper.SsoClientDetailsMapper">
    <resultMap id="BaseResultMap" type="cn.yuanyu.uaa.model.sso.SsoClientDetails">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="client_name" jdbcType="VARCHAR" property="clientName"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="redirect_url" jdbcType="VARCHAR" property="redirectUrl"/>
        <result column="logout_url" jdbcType="VARCHAR" property="logoutUrl"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, client_name, description, redirect_url, logout_url, status
    </sql>

    <select id="selectByRedirectUrl" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sso_client_details
        where redirect_url = #{redirectUrl}
    </select>
</mapper>