<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yuanyu.uaa.mapper.SsoRefreshTokenMapper">
    <resultMap id="BaseResultMap" type="cn.yuanyu.uaa.model.sso.SsoRefreshToken">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="token_id" jdbcType="INTEGER" property="tokenId"/>
        <result column="refresh_token" jdbcType="VARCHAR" property="refreshToken"/>
        <result column="expires_in" jdbcType="BIGINT" property="expiresIn"/>
        <result column="create_user" jdbcType="INTEGER" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="INTEGER" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, token_id, refresh_token, expires_in, create_user, create_time, update_user, update_time
    </sql>

    <select id="selectByTokenId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sso_refresh_token
        where token_id = #{tokenId}
    </select>
    <select id="selectByRefreshToken" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sso_refresh_token
        where refresh_token = #{refreshToken}
    </select>
</mapper>